@font-face {
  font-family: "balsamiq";
  src: url(../fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "robotoLight";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}
$white: white;
$primary-color: #ffb000;
$second-color: #ff6a00;

body {
  font-size: 18px;
  font-family: "roboto";

  nav {
    border-bottom: 4px solid $second-color;
    a {
      color: $second-color;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 0.1em;
    }
  }
  .parallax {
    img {
      width: 100%;
      object-fit: contain;
      position: fixed;
      z-index: -9999;
    }
  }

  .jumbotron {
    background-color: initial;
    padding-bottom: 50px;
    h1 {
      color: $primary-color;
      font-family: "balsamiq";
      font-size: 8em;
      text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.527);
      text-transform: uppercase;

      span {
        color: $second-color;
      }
    }

    .carousel-inner {
      height: 300px;
      width: 500px;
      margin: 0 auto;

      .carousel-item {
        background-color: rgb(48, 46, 46);

        .carousel-caption {
          position: initial;
          // text-align: center;
          width: 95%;
          height: 300px;
          margin: auto;

          h2 {
            font-family: "robotoLight";
            font-size: 2em;
            font-weight: 100;
          }
          a {
            background-color: $primary-color;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            &:hover {
              background-color: $white;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  #carte {
    border-bottom: 4px solid $second-color;
    border-top: 4px solid $second-color;
    img {
      width: 80%;
      border-radius: 50%;
    }
    p {
      a {
        &:hover {
          font-size: 1.1em;
          color: $primary-color;
        }
      }
    }
  }
  #contact {
    form {
      .form-control {
        padding: 2em;
      }
      .form-group {
        textarea {
          height: 294px;
        }
      }
      .btn-form {
        background-color: $primary-color;
        color: $white;

        text-transform: uppercase;
        letter-spacing: 0.1em;
        &:hover {
          color: $second-color;
        }
      }
    }
  }

  #carousel {
    img {
      height: 700px;
      object-fit: cover;
    }
  }

  #eventail {
    border-bottom: 4px solid $second-color;
    border-top: 4px solid $second-color;
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border: 4px solid $second-color;
    }
  }

  #contact {
    padding-top: 50px;
  }
  #info {
    height: 300px;
  }

  footer {
    background-color: $second-color;
    a {
      font-size: 2em;
      color: $white;
    }
  }
}

@media screen and (width: 500px) {
  body {
    font-size: 16px;

    .jumbotron {
      background: url(../img/ramen-3387316_640.jpg) no-repeat 0px, 100px;
      height: 300px;

      h1 {
        font-size: 3em;
      }
    }

    #carousel {
      img {
        height: 400px;
      }
    }
    #info {
      height: initial;
    }
  }
}
